.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-step {
    display: none;
}

.active-step {
    display: block;
}

.progress {
    width: 70%; /* Set the progress bar to 90% width */
    margin: 0 auto; /* Center it horizontally */
}
.progress-bar {
    width: 25%;
    transition: width 1s;
}

.form-check-label {
    margin-left: 10px;
}

button[type="submit"] {
    width: 100%;
}

h2, h4 {
    color: #333;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}
